h2 {
    margin-top: 150px !important;
    text-align: center;
    color: #333;
}


/* Stil für die Tabelle */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Stil für die Aktionen (Icons) */
td a {
    margin-right: 10px;
    text-decoration: none;
}

/* Stil für die Icons */
td img {
    width: 30px;
    height: 30px;
}
.container {
    margin-bottom: 150px;
    padding: 20px;
}

.content {
    padding: 20px;
    margin-bottom: 100px; /* Hinzugefügter Abstand, um Platz für den Footer zu schaffen */
}
