body {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.container {
    position: relative;
}

h1 {
    color: red;
    font-size: 24px;
    margin-top: 40px;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 30%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.form-section {
    width: 80%;
    border: 1px solid #222121;
    border-radius: 5px; /* Abgerundete Ecken */
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

.form-section h2 {
    color: red;
    font-size: 18px; /* Größere Überschrift */
    margin-bottom: 20px; /* Mehr Abstand nach unten */
}

.signatures {
    display: flex;
    justify-content: space-between;
    margin-top: 60px; /* Mehr Abstand nach unten */
}

.signature {
    width: 45%;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    text-align: center;
}

.signature-line {
    margin-top: 40px; /* Mehr Abstand nach unten */
    border-top: 1px solid #ccc;
}

.signature p {
    margin: 5px 0;
    font-size: 14px; /* Größerer Text */
    color: #666;
}
